p,h1,h2,h3,h4,h5,h6,a,label{
	font-family: 'Raleway', sans-serif;
	font-weight:400;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

#logo{
	height: 48px;
}

.content{
	padding:60px 12px 12px 12px;
}

table{
	margin-top:18px;
	width:100%;
}

thead tr{
	border-bottom: 2px solid #606060;;
	font-size: 1.5em;
}

tbody tr{
	border-bottom: 1px solid #606060;;
}