p,h1,h2,h3,h4,h5,h6,a,label{
	font-family: 'Raleway', sans-serif;
	font-weight:400;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

#logo{
	height: 48px;
}