.at-form{
	width:90%;
	margin: 0 4%;
}
.home-left, .home-right{
	width:90%;
	margin: 0 4%;
}
.home-right .call-button{
	width:100px;
	height:100px;
	background-color: green;
	padding:24px 36px;
	margin: 24px;
	border-radius: 50%;
	float:left;
}

.vid-console .controls{
	width:300px;
	margin:0 auto;
	padding-top: 24px;
}
.vid-console .call-button{
	font-size:3em;
	width:50px;
	height:50px;
	background-color: red;
	padding:4px 10px;
	margin: 0 24px;
	border-radius: 50%;
	float:left;
}

@media all and (min-width : 400px){
	.at-form{
		width:90%;
		margin: 0 4%;
	}
	.home-left, .home-right{
		width:90%;
		margin: 0 4%;
	}
/*	.container{
		background-color: red;
	}*/
}

@media all and (min-width : 601px){
	.at-form{
		width:80%;
		margin: 0 9%;
	}
	.home-left, .home-right{
		width:90%;
		margin: 0 4%;
	}
/*	.container{
		background-color: orange;
	}*/
}

@media all and (min-width : 751px){
	.at-form{
		width:60%;
		margin: 0 9% 0 30%;
	}
	.home-left{
		width:65%;
		margin: 0 2% 0 4%;
		float:left;
	}
	.home-right{
		width: 20%;
		margin: 0 4% 0 2%;
		float:left;
	}
	.home-right .call-button{
		width:150px;
		height:150px;
		background-color: green;
		padding:24px 36px;
		margin: 24px;
		border-radius: 50%;
		float:left;
	}
	.home-right i{
		font-size: 8em;
		color: white;
		text-align:center;
	}

/*	.container{
		background-color: yellow
	}*/
}

@media all  and (min-width : 961px){
	.at-form{
		float:right;
		width:40%;
		margin-right:10%;
	}
	.home-left{
		width:55%;
		margin: 0 2% 0 4%;
		float:left;
	}
	.home-right{
		width: 30%;
		margin: 0 4% 0 2%;
		float:left;
	}

/*	.container{
		background-color: green;
	}*/
}

@media all and (min-width: 1280px){
	.at-form{
		float:right;
		width:40%;
		margin-right:10%;
	}
/*	.container{
		background-color: blue;
	}*/
}