@media all and (min-width : 400px){
	.at-form{
		width:90%;
		margin: 0 4%;
	}
/*	.container{
		background-color: red;
	}*/
}

@media all and (min-width : 601px){
	.at-form{
		width:80%;
		margin: 0 9%;
	}
/*	.container{
		background-color: orange;
	}*/
}

@media all and (min-width : 751px){
	.at-form{
		width:60%;
		margin: 0 9% 0 30%;
	}

/*	.container{
		background-color: yellow
	}*/
}

@media all  and (min-width : 961px){
	.at-form{
		float:right;
		width:40%;
		margin-right:10%;
	}
/*	.container{
		background-color: green;
	}*/
}

@media all and (min-width: 1280px){
	.at-form{
		float:right;
		width:40%;
		margin-right:10%;
	}
/*	.container{
		background-color: blue;
	}*/
}